.headerComponent {
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 999;
  background: rgba(1, 1, 1, 0.8);
}
.headerNav {
  display: flex;
  align-items: center;
}

.headerLogo {
  height: 70px;
}
.navLink {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  margin: 0 10px;
}
.headerUser {
  display: flex;
  align-items: center;
}
.navIcon {
  color: #fff;
}
