.cardContent {
  padding: 25px;
  height: 300px;
  width: 250px;
}
.cardItem {
  height: 300px;
  position: relative;
  img {
    height: -webkit-fill-available;
    width: 100%;
  }
}
.cardButton {
  position: absolute;
  bottom: 0px;
  left: 37%;
}
.newEpisode {
  display: block;
  padding: 5px 10px;
  color: #fff;
  width: 100%;
  background-color: red;
  border: unset;
  font-size: 12px;
  cursor: pointer;
}
.watchNow {
  padding: 5px 10px;
  border: unset;
  cursor: pointer;
}
